h1 span{color:#bb5535+
font-size:3.0em;
font=weight: bold;
    border:#323232 1px dotted;
}
#has{color:#5f9ea0;
}

greeting{color:#32cc32;
}

body{
    background-color: #000000; /* たぶん黒に背景を変更*/
    background-image: url(../img/ハシビロコウ.jpg); /*きっとハシビロコウになる*/
    background-repeat: no-repeat;
}

