@charset "UTF-8"; 

.has{
    font-size: 70%;
    padding: 20px 0px;
    padding-right: 30px;
    background-color: #000000; /* たぶん黒に背景を変更*/
    background-image: url(../img/ハシビロコウ.jpg); /*きっとハシビロコウになる*/
    background-repeat: no-repeat;
    background-position: right center;
}

h1{
    font-size: 1.75em;
}

h1 span{
    color: #bb5535;
}
/*型*/

#has{
    border-top: #222222 1px dotted;
….
    text-align: center;
}
/*id*/


h2{
    font-size: 1.25em;
}
p{
    font-size: 0.8em;
}
li{
    font-size: 0.8em;
