h1 span{color:#696969;
font-size:2.0em;
font-weight: bold;
    border:#32cd32 1px dotted;
}
#lead{color:#0000ff;
}

.greeting{color:#32cd32;
}

body{
    background-color: #0000ff; /* たぶん黒に背景を変更*/
    background-image: url(ハシビロコウ.jpg); /*きっとハシビロコウになる*/
    background-repeat: repeat-x;
}

